body{
    border-bottom: 1em;
}

input{
    height:2em;
    width: 100%;
    align-items: center;
    justify-items: center;
    cursor:copy;
    border-radius: 12px;
    color:black;
    font-size: 2em;
}

.studentList{
    display: grid;
    width: 100%;
}
.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    box-shadow: 5px 5px 1em gray;
    border-radius: 15px;
    column-gap: 1em;
    padding: 10px;
}
.image-section{
    background-image: url('student_images/victor.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width:10em;
    height: 10em;
}
.data-section{
    font-size: 20px;
    padding: 1em 1em;
    
}
.gender{
    border: 2px solid aquamarine;
    width: max-content;
    border-radius: 5px;
    background-color: aquamarine;
    padding: .05em .02em;
}
.name{
    font-size: 25px;
    font-weight: 900;
}
.filtered{
    display: none;
}
@media screen and (min-width:500px){
    .studentList{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:800px){
    .studentList{
        grid-template-columns: repeat(3,1fr);
    }
}